{% extends 'etudiant/base.html' %}
{% block content %}
<div class="row">
   <div class="col-sm-3">
     <h4 class="text-center alert alert alert-info">Ajouter un etudiant</h4>
         <form action="" method = "POST">
             {% csrf_token %}
             {{from.as_p}}
            <input type="submit" class="btn btn-success" value="Ajouter">
        </form>
  </div>
  <dvi class="col-sm-8 offset-1">
    <h4 class="text-center alert alert alert-info">Montrer les information des Etudiants</h4>
    {% if stu %}
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nom</th>
            <th scope="col">Email</th>
            <th scope="col">Mot de passe</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for st in stu %}
          <tr>
            <th scope="row">{{st.id}}</th>
            <td>{{st.name}}</td>
            <td>{{st.email}}</td>
            <td>>{{st.password}}</td>
            <td>
                <a href="{% url 'updatedata' st.id %}" class="btn btn-warning btn-sm">Modifier</a>
                <form action="{% url 'deletedata' st.id %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger" value="Supprimer">
                </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
    <h4c lasse= "text-center alert  alert-warning">Pas d'enregistrement</h4>
    {% endif %}
  </dvi>
</div>
{% endblock content %}
  